{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "env"     : {
    "browser" : true
  },
  "plugins": [
    "react-hooks"
  ],
  "globals" : {
    "describe"     : false,
    "beforeEach"   : false,
    "it"           : false,
    "expect"       : false,
    "jest"         : false,
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__STAGING__"  : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "space-before-function-paren": [2, "never"],
    "jsx-quotes" : [0],
  }
}
