.changelistTools {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.tableResponsive {
  max-width: 100%;
  overflow: auto;
}
