/* app wide styles */
#root {
  background: #fff url('./Assets/img/bg.jpg') no-repeat center center !important;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.prettyprint {
  overflow: auto;
}
